* {
    background-color: rgb(241, 219, 190);
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(211, 154, 154);
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(230, 116, 116);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(212, 135, 135);
    color: white;
  }